.deliveries {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.titleDelivery {
  font-family: "Inter";
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
